<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuGet.Build.Packaging" version="0.2.0" targetFramework="monoandroid90" developmentDependency="true" />
  <package id="Permutive.Xamarin.Android.Arch.Persistence.DB" version="1.1.1" targetFramework="monoandroid90" />
  <package id="Permutive.Xamarin.Android.Arch.Persistence.DB.Framework" version="1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Core.Runtime" version="1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Annotations" version="28.0.0" targetFramework="monoandroid90" />
</packages>